<section class="section">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card weather">
                <a class="weatherwidget-io" href="https://forecast7.com/pl/51d9520d16/skierniewice/" data-label_1="Skierniewice" data-label_2="Pogoda" data-font="Roboto" data-days="5">Skierniewice Pogoda</a>
                <script>
                    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                </script>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header"><h4>Zbliżające się zajęcia</h4></div>
                <div class="card-body">
                    <div class="list-group">
                        @if (ViewData["recentActivities"] != null)
                        {
                            @foreach (var ac in ViewData["recentActivities"] as IList<TimetableActivity>)
                            {
                                <a href="#" class="list-group-item list-group-item-action" style="border-bottom:0; border-left:0;border-right:0; padding:0">
                                    <p><strong >@ac.Activity.Activity_Name</strong> <span class="float-right">Wolne miejsca: @ac.Timetable_Activity_Free_Places</span></p>
                                </a>
                            }
                        }
                        else
                        {
                            <p>Brak zbliżających się zajęć.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Ostatnie wejścia</h4>
                </div>
               <div class="card-body">
                   <div class="list-group">
                       @if (ViewData["recentEntries"] != null)
                       {
                           @foreach (var entry in ViewData["recentEntries"] as IList<dynamic>)
                           {
                               <a href="#" class="list-group-item list-group-item-action" style="border-bottom:0; border-left:0;border-right:0; padding:0">
                                   <p><strong>@entry.customer.customer_Firstname @entry.customer.customer_Lastname</strong> <span class="float-right">@entry.created.ToString("HH:mm dd/MM/yyyy")</span></p>
                               </a>
                           }
                       }
                   </div>
               </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Podsumowanie wejść</h4>
                    <div class="card-header-action">
                        <a href="#summary-chart" data-tab="summary-tab" class="btn active">Wykres</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="summary">

                        <div class="summary-chart active" data-tab-group="summary-tab" id="summary-chart">
                            <canvas id="myChart" height="180"></canvas>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       
    </div>


</section>


