@model IEnumerable<ActivityView>
@{
    int counter = 1;
}

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Header"]</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="btn btn-icon icon-left btn-primary mb-3 float-right " id="add-new-activity"><i class="far fa-edit"></i> Dodaj nową</a>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Wszystkie zajęcia</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="activity_list">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>Nazwa aktywności</th>
                                        <th>Kolor aktywności</th>
                                        <th>Powiązani instruktorzy</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@counter</td>
                                            <td>@item.Activity_Name</td>
                                            <td><span style="width:120px; border-radius:10px; height:25px; float:left; background-color:@item.Activity_Color"></span></td>
                                            <td>
                                                @if (item.Employee != null && item.Employee.Count > 0)
                                                {
                                                    @foreach (var employee in item.Employee)
                                                    {
                                                        if (employee.Employee_Id != 0)
                                                        {
                                                            <a asp-controller="Employee" asp-action="Profile" class="page-link" asp-route-employeeId="@employee.Employee_Id">
                                                                @if (!String.IsNullOrEmpty(employee.Employee_Photo_Url))
                                                                {
                                                                    <img alt="image" src="~/upload/@employee.Employee_Photo_Url" class="rounded-circle" width="55" data-toggle="title" title=""> <div class="d-inline-block ml-1">@employee.Employee_Display_Name</div>
                                                                }
                                                                else
                                                                {
                                                                    <img alt="image" src="~/images/stisla/avatar/avatar-3.png" class="rounded-circle" width="35" data-toggle="title" title=""> <div class="d-inline-block ml-1">@employee.Employee_Display_Name</div>
                                                                }
                                                            </a>
                                                        }

                                                    }
                                                }
                                                else
                                                {
                                                    <strong>Brak powiązanych pracowników</strong>
                                                }

                                            </td>
                                            <td>
                                                <input type="hidden" value="@item.Activity_Id" name="activity_id" />
                                                <button class="btn btn-icon icon-left btn-primary mb-3 edit-activity "><i class="fas fa-pencil-alt"></i> Edytuj</button>
                                                <button class="btn btn-icon icon-left btn-danger mb-3 delete-activity "><i class="fas fa-trash-alt"></i> Usuń</button>
                                            </td>
                                        </tr>
                                        counter++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<form class="modal-part" id="edit-activity">
    <p>Wypełnij wszystkie pola formularza i dodaj nową aktywność!</p>
    <input type="hidden" class="activityId" />
    <div class="form-group">
        <div class="control-label">Status</div>
        <label class="mt-2">
            <input type="checkbox" name="custom-switch-checkbox" class="activity_status custom-switch-input">
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">Włączony/wyłączony</span>
        </label>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label>Nazwa</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-ad"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control activity_name" required placeholder="Nazwa" name="activity_name" >
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Kolor</label>
                    <div class="input-group">
                        <input type="color" class="form-control activity_color">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Opis</label>
        <textarea class="summernote-simple activity_description" required style="display: none;"></textarea>
    </div>
    <div class="form-group">
        <label>Powiązani pracownicy</label>
        <select class="form-control select2 select2-hidden-accessible employee_id" multiple="" required>
        </select>
    </div>
    <div class="form-group">
        <label>Powiązane kategorie</label>
        <select class="form-control select2 select2-hidden-accessible category_id" multiple="" required>
        </select>
    </div>
</form>

<form class="modal-part" id="new-activity">
    <p>Wypełnij wszystkie pola formularza i dodaj nową aktywność!</p>

    <div class="form-group">
        <div class="control-label">Status</div>
        <label class="mt-2">
            <input type="checkbox" id="activity_status" name="custom-switch-checkbox" class="custom-switch-input">
            <span class="custom-switch-indicator"></span>
            <span class="custom-switch-description">Włączony/wyłączony</span>
        </label>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <label>Nazwa</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-ad"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" required placeholder="Nazwa" name="activity_name" id="activity_name">
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Kolor</label>
                    <div class="input-group">
                        <input type="color" id="activity_color" required class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Opis</label>
        <textarea id="activity_description" class="summernote-simple" required style="display: none;"></textarea>
    </div>
    <div class="form-group">
        <label>Powiązani pracownicy</label>
        <select class="form-control select2 select2-hidden-accessible" id="employee_id" multiple="" required>
            @foreach (var item in ViewData["employees"] as IList<Employee>)
            {
                <option value="@item.Employee_Id">@item.Employee_Display_Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Powiązane kategorie</label>
        <select class="form-control select2 select2-hidden-accessible" id="category_id" multiple="" required>
            @foreach (var item in ViewData["categories"] as IList<Category>)
            {
                <option value="@item.Category_Id">@item.Category_Name</option>
            }
        </select>
    </div>
</form>
