@model Customer;
<section class="section">
    <div class="section-header">
        <h1>Profile</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Profile</div>
        </div>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title">@Model.Customer_Firstname @Model.Customer_Lastname</h2>
                <p class="section-lead">
                    Karta klienta.
                </p>

            </div>
            <div class="col-md-6">
                <a class="btn btn-icon icon-left btn-primary mb-3 float-right " id="assign-voucher"><i class="far fa-edit"></i> Przypisz karnet</a>
            </div>
        </div>

        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card profile-widget">
                    <div class="profile-widget-header">
                        @if (!String.IsNullOrEmpty(Model.Customer_Photo_Url))
                        {
                            <img alt="image" src="~/upload/@Model.Customer_Photo_Url" class="rounded-circle profile-widget-picture">
                        }
                        else
                        {
                            <img src="~/images/stisla/avatar/avatar-3.png" width="105" class="rounded-circle profile-widget-picture">
                        }
                        <div class="profile-widget-items">
                            <div class="profile-widget-item">
                                <div class="profile-widget-item-label">Zapisów na aktywności</div>
                                <div class="profile-widget-item-value">187</div>
                            </div>
                            <div class="profile-widget-item">
                                <div class="profile-widget-item-label">Zakupionych usług</div>
                                <div class="profile-widget-item-value">6,8K</div>
                            </div>
                            <div class="profile-widget-item">
                                <div class="profile-widget-item-label">Zakupionych produktów</div>
                                <div class="profile-widget-item-value">0</div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-widget-description">
                        <div class="profile-widget-name">@Model.Customer_Firstname @Model.Customer_Lastname </div>
                    </div>
                    <div class="card-footer">
                        <p><strong>Powiązane karnety</strong></p>
                        <table class="table table-striped dataTable no-footer table-responsive">
                            <thead>
                                <tr>
                                    <th>Karnet</th>
                                    <th>Dodany</th>
                                    <th>Ważny do </th>
                                    <th>Ważny przez (ilość wejść)</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Vouchers != null)
                                {
                                    foreach (var vc in Model.Vouchers)
                                    {
                                        <tr>
                                            <td data-toggle="tooltip" data-title="ID karnetu: @vc.Voucher.Voucher_Id">@vc.Voucher.VoucherType.Voucher_Type_Name</td>
                                            <td>@vc?.Added</td>
                                            <td>@vc?.VoucherEndDate</td>
                                            <td>@vc?.FreeEntries</td>
                                            <td>
                                                @if ((vc.VoucherEndDate != null && vc.VoucherEndDate < DateTime.Now))
                                                {
                                                    <div class="badge badge-inactive" data-toggle="tooltip" data-title="Voucher wygasł naturalnie">nieaktywny</div>
                                                }
                                                else if ((vc.IsActive.HasValue && vc.IsActive == true))
                                                {
                                                    <div class="badge badge-active">aktywny</div>
                                                }
                                                else
                                                {
                                                    <div class="badge badge-inactive">nieaktywny</div>
                                                }
                                            </td>
                                            <td><button class="btn btn-icon icon-left btn-danger mt-1 delete-voucher-customer" data-vc-id="@vc.Voucher_Customer_Id"><i class="fas fa-trash-alt"></i></button></td>
                                        </tr>
                                    }
                                }
                            </tbody>

                        </table>

                    </div>
                    <div class="card-footer text-center">
                        <p><strong>Ostatnie zapisy</strong></p>
                        <p>W ostatnim czasie klient nie uczestniczył w aktywnościach.</p>
                    </div>
                    <div class="card-footer text-center">
                        <p><strong>Usługi</strong></p>
                        <p>W ostatnim czasie klient nie korzystał z usług.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <form method="post" class="needs-validation" id="customerProfile" enctype="multipart/form-data" novalidate="">
                        <div class="card-header">
                            <h4>Edytuj dane</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6 col-12">
                                    <input type="hidden" id="customer_id" value="@Model.Customer_Id" />
                                    <input type="hidden" id="address_id" value="@Model.Address_Id" />
                                    <input type="hidden" id="customer_gender" value="@Model.Customer_Gender" />
                                    <input type="hidden" id="customer_photo" value="@Model.Customer_Photo_Url" />
                                    <label>Nazwa wyświetlana</label>
                                    <input type="text" class="form-control" id="customer_display" value="@Model.Customer_Display_Name" required="">
                                    <div class="invalid-feedback">
                                        Uzupełnij przyjazną nazwę
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Status</label>
                                    <label class="mt-2 col-lg-12">
                                        <input type="checkbox" id="customer_status" name="custom-switch-checkbox" class="form-control custom-switch-input">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Włączony/wyłączony</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-12">
                                    <label>Imię</label>
                                    <input type="text" class="form-control" id="customer_firstname" value="@Model.Customer_Firstname" required="">
                                    <div class="invalid-feedback">
                                        Uzupełnij imię
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Nazwisko</label>
                                    <input type="text" class="form-control" id="customer_lastname" value="@Model.Customer_Lastname" required="">
                                    <div class="invalid-feedback">
                                        Uzupełnij nazwisko
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-12">
                                    <label>Email</label>
                                    <input type="email" class="form-control" id="customer_email" value="@Model.Address.Address_Email" required="">
                                    <div class="invalid-feedback">
                                        Uzupełnij adres email
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Telefon kontaktowy</label>
                                    <input type="tel" class="form-control" id="customer_phonenumber" value="@Model.Address.Address_Phone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-7 col-12">
                                    <label>Ulica</label>
                                    <input type="text" class="form-control" id="customer_street" value="@Model.Address.Address_1" required="">
                                    <div class="invalid-feedback">
                                        Uzupełnij adres 1
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-12">
                                    <label>Numer domu</label>
                                    <input type="text" class="form-control" id="customer_number" value="@Model.Address.Address_2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-7 col-12">
                                    <label>Miasto</label>
                                    <input type="text" class="form-control" id="customer_city" value="@Model.Address.Address_City" required="">
                                    <div class="invalid-feedback">
                                        Uzupełnij adres 1
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-12">
                                    <label>Kod pocztowy</label>
                                    <input type="text" class="form-control" id="customer_postcode" value="@Model.Address.Address_Postcode">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-7 col-12">
                                    <label for="customer_birthdate">Data urodzenia</label>
                                    <input type="text" class="form-control datepicker" id="customer_birthdate" required>
                                    <div class="invalid-feedback">
                                        Uzupełnij datę urodzenia.
                                    </div>
                                </div>
                                <div class="form-group col-md-5 col-12">
                                    <label>Zdjęcie profilowe</label>
                                    <input type="hidden" id="fakePhoto" value="@Model.Customer_Photo_Url" />
                                    <input type="file" id="photo" name="photo" value="@Model.Customer_Photo_Url" accept="images/*">
                                </div>
                            </div>

                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<form class="modal-part" id="assign-voucher-modal">
    <p>Wypełnij wszystkie pola formularza i przypisz voucher klienta!</p>
    <input type="hidden" value="@Model.Customer_Id" id="customer-id" />
    <div class="form-row">
        <div class="form-group col-md-12">
            <select class="form-control select2" name="voucher_type" id="voucher_type" required>
                @if (ViewData["vouchers"] != null)
                {
                    @foreach (var voucher in ViewData["vouchers"] as IList<Voucher>)
                    {
                        <option value="@voucher.Voucher_Id">@voucher.Voucher_Id - @voucher.VoucherType.Voucher_Type_Name (@voucher.Voucher_Gross_Price zł)</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="customer_gender">Ważny od</label>
            <input type="text" class="form-control datepicker" id="voucher_start_from" required>
        </div>
    </div>


</form>